<% if (filters.length > 0) { %>
  <h5>Filters:</h5>
  <ul class="filter-list">
    <% filters.forEach((filter) => { %>
      <li>
        <span class="pill" title="<%= filter.title %>"><%= filter.type %> | <%= filter.label %></span>
        <a class="filter-item-remove" title="remove filter" href="#" data-action="remove" data-facet-param="<%= filter.parameter %>" data-facet-value="<%= filter.value %>">&times;</a>
      </li>
    <% }) %>
  </ul>
<% } %>

<h5>Viewing:</h5>
<ul class="facet-list" aria-label="Facets">
  <li><a href="<%= rootUrl %>">All</a></li>
<% facets.forEach((facet) => { %>
  <li title="<%= facet.title %>"><a href="<%= facet.url %>"><%= facet.label %></a></li>
<% }) %>
</ul>

<div class="sharing">
  <p>
    <button class="share-button">&#128279; Share Path</button>
  </p>
  <p class="sharing-message">
    Path copied to clipboard.
  </p>
</div>
