
<% if (filters.length > 0) { %>
  <h5>Filters:</h5>
  <ul class="filter-list">
    <% filters.forEach((filter) => { %>
      <li title="<%= filter.title %>">
        <span class="pill"><%= filter.type %> | <%= filter.label %></span>
        <a class="filter-item-remove" href="#" data-action="remove" data-facet-param="<%= filter.parameter %>" data-facet-value="<%= filter.value %>">remove</a>
      </li>
    <% }) %>
  </ul>
<% } %>

<h5>Viewing:</h5>
<ul class="facet-list" aria-label="Facets">
  <li><a href="#">All</a></li>
<% facets.forEach((facet) => { %>
  <li title="<%= facet.title %>"><a href="#"><%= facet.label %></a></li>
<% }) %>
</ul>
